<div class="login">
    <div class="text">
        <h3>Login</h3>
        <span>Please login with your account to continue.</span>
    </div>

    <form class="form">
        <div class="input">
            <label for="email">Email</label>
            <input type="email" id="email" />
        </div>
        <div class="input">
            <label for="password">Password</label>
            <input type="password" id="password" />
        </div>
        <button>Login</button>
    </form>

    <p class="link">Still without an account? <a routerLink="/auth/register">Sign up</a></p>
</div>