.auth-page{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--blue);
    overflow: hidden;
}
.auth-page .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 50%;
    color: var(--white);
}
.auth-page > .info > p{
    margin: 2rem 0;
    font-size: 1.5rem;
}
.auth-page .auth{
    height: 50%;
    border-radius: 1.3rem;
    padding: 2rem;
    background-color: var(--white);
}
.info-buttons{
    display: flex;
    justify-content: center;
}
.info-buttons > button{
    width: 2rem;
    height: 1rem;
    border-radius: 0.5rem;
    transition: width 0.4s linear;
    background-color: var(--white);
}
.info-buttons > button.on{
    width: 5.5rem;
}
.info-buttons > button:not(:last-child){
    margin-right: 1rem;
}

.moveDown{
    animation: moveDown 1s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}
.moveTop{
    animation: moveTop 1s ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes moveDown{
    from{
        transform: translateY(0);
    }to{
        transform: translateY(100%);
    }
}
@keyframes moveDown-md{
    from{
        transform: translateX(0);
    }to{
        transform: translateX(-50vw);
    }
}
@keyframes moveTop{
    from{
        transform: translateY(0);
    }to{
        transform: translateY(-100%);
    }
}
@keyframes moveTop-md{
    from{
        transform: translateX(0);
    }to{
        transform: translateX(100%);
    }
}

@media only screen and (min-width: 768px) {
    .info{
        max-width: 384px;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 1024px) {
    .auth-page{
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: row-reverse;
    }
    .auth-page .info{
        height: 100%;
        width: 50%;
    }
    .auth-page .auth{
        height: 100%;
        width: 50%;
    }
    .info h2{
        font-size: 30px;
    }
    .moveDown{
        animation: moveDown-md 1s ease-in-out;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }
    .moveTop{
        animation: moveTop-md 1s ease-in-out;
        animation-delay: 1s;
        animation-fill-mode: forwards;
    }
}