<div class="profile-page">
    <form class="profile-form" autocomplete="off">
        <div class="input-group mb">
            <label>Email</label>
            <input type="mail" disabled />
        </div>
        <div class="input-group">
            <label>Role</label>
            <select name="role">
                <option value="medical">Medical</option>
                <option value="student">Student</option>
                <option value="reporter">Reporter</option>
                <option value="tourist">Tourist</option>
                <option value="other">Other</option>
            </select>
        </div>
        <hr class="profile-line" />
        <div class="input-group mb">
            <label>Password</label>
            <input type="mail" />
        </div>
        <div class="input-group">
            <label>New Password</label>
            <input type="mail" />
        </div>
        <button>Save Changes</button>
    </form>
</div>