<div class="home-page">
    <div class="content">
        <form class="search-form" autocomplete="off" [formGroup]="countryForm" (ngSubmit)="searchCountry()">
            <div class="search-input">
                <input type="text" placeholder="Country" name="country" formControlName="country" />
            </div>
            <button>Search</button>
        </form>
        <p class="results">{{label}}</p>
        <div *ngIf="country">
            <app-country-card [country]="country"></app-country-card>
        </div>
        <app-loader></app-loader>
    </div>
    <div class="map">
        <app-map-card [coordinates]="coordinates"></app-map-card>
    </div>
</div>